<h3 style="margin:0;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;text-align:left;color:#333333;-webkit-font-smoothing: antialiased;padding-top: 20px;">
    <span>{namespace}</span><span style="margin: 0 5px; font-weight: normal;">-</span><a href="{namespace_link}" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;line-height: 22px;color:#00b8d4;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal;text-decoration: none;-webkit-font-smoothing: antialiased;">view</a>
</h3>
<ul style="line-height:22px;font-size:14px;color:#000000;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;padding:12px 0 0 35px;margin:0;-webkit-font-smoothing: antialiased;">
    {notifications}
</ul>
